*{
    margin:0;
    padding:0;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background: #333;
}

.container {
    background: url(bg.jpg) no-repeat center;
    background-size: cover;
    padding: 100px 50px;
    text-align: center;
    color:white;
}
.container p {
    max-width: 600px;
    margin: 40px auto;
    font-size: 15px;
    font-weight: 300;
}

.email-box {
    height: 40px;
    display: flex;
    justify-content:center;
}

.email-box i {
    background-color: black;
    width:40px;
    line-height:40px;
}

.input-box, .btn {
    border:none;
    outline:none;
}

.input-box{
    width:260px;
    padding: 0 10px;
}

.btn {
    background: black;
    color:white;
    padding: 0 10px;
    text-transform: capitalize;
    cursor:pointer;
}

